/* You can add global styles to this file, and also import other style files */

footer{
    height: 9vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

