<div class="form-group">
  Code <input type="text" class="form-control" [(ngModel)]="s.code" />
</div>
<div class="form-group">
  Company <input type="text" class="form-control" [(ngModel)]="s.company" />
</div>
<div class="form-group">
  Initial Price
  <input type="text" class="form-control" [(ngModel)]="s.iprate" />
</div>
<div class="form-group">
  Face Value
  <input type="text" class="form-control" [(ngModel)]="s.faceValue" />
</div>
<div class="form-group">
  <button (click)="addStockFunction()">Add</button>
  <button>Cancel</button>
</div>

<app-show-stock [stocks]="stocks"></app-show-stock>
