<div [class]="theme">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Register</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="code">Code</label>
              <input
                type="text"
                class="form-control"
                id="code"
                placeholder="Enter code"
              />
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter name"
              />
            </div>
            <div class="form-group">
              <label for="initialPrice">Initial Price</label>
              <input
                type="number"
                class="form-control"
                id="initialPrice"
                placeholder="Enter initial price"
              />
            </div>
            <div class="form-group">
              <label for="faceValue">Face Value</label>
              <input
                type="number"
                class="form-control"
                id="faceValue"
                placeholder="Enter face value"
              />
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <button
              type="button"
              class="btn btn-secondary ml-2"
              onclick="window.location.href='index.html'"
            >
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
